.container-fluid{
    width: 100%;
    height: auto;
    margin:0 auto;
    box-sizing: border-box;
}
.row{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin:0 auto;
    float: left;
}
.long{
    width: 100%;
    height: auto;
    float: left;
}
.bg{
    width: 100%;
    height: 250px; 
    background-image: url(../img/gx/gx-erji-title1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.work{
    width: 100%;
    height: auto;
    margin-top:75px;
    margin-bottom: 50px;
    float: left;
    img{
      margin: 0 auto; 
      display: block; 
    }
}
.glyphicon{
    color: #F0BDAD;
}
.xian{
    width:100%;
    height: 2px;
//  border-top: 2px solid #DADAD9;
    float: left;
    margin: 0 auto;
    div{
        width: 62%;
        height: 100%;
        margin: 0 auto;
        border-top: 2px solid #DADAD9;   
    }
}
.photo{
    width: 100%;
    height: auto;
    margin:60px auto;
    float: left;
    div{
        width: 75%;
        height: auto;
        margin: 0 19%;  
        img{
            width: 17%;
            height: 100%;
            margin:0 1.8%;
        }  
    }
}
.chatu{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 40px;
    .hidden1{
        width: 70%;
        height: 100%;
        margin: 0 auto;
        .left{
            width: 25%;
            height:auto;
            float: left;
            background: #FAF9F9;
            img{
                width: 75%;
                height: 100%;
                display: block;
                margin: 20% auto;
            }
        }
        .zhong{
            width: 45%;
            height: 110%;
            float: left;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .right{
            width: 30%;
            height: auto;
            float: left;
            img{
                width: 97%;
                height: auto;
                display: block;
                margin-top: -3px;
            }
        }
    }
}
.duo{
    
}
@media screen and (min-width: 1920px) {
    .container-fluid{
        width: 1200px; 
    }
}
//@media screen and (min-width: 768px) {
//  .container-fluid{
//      width: 750px; 
//  }
//}
