.banner {
  width: 100%;
  height: auto;
}

.banner img {
  width: 100%;
}

.zxq-first {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: red;
  text-align: center;
}

.zxq-first img {
  width: 463px;
  height: auto;
}

.zxq-fenlei {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0;
  background: yellow;
}

.zxq-fenlei .zxq-ul {
  width: 438px;
  height: 40px;
  margin: 0 auto;
}

.zxq-fenlei .zxq-ul li {
  width: 96px;
  height: 100%;
  float: left;
  color: #b5b5b6;
  text-align: center;
  font-size: 18px;
}

.zxq-fenlei .zxq-ul li span {
  width: 1px;
  height: 100%;
  color: #c9c9c9;
  margin-left: 25px;
}

.zxq-fenlei .zxq-ul li:last-child {
  width: 126px;
}

.zxq-hslfyy {
  width: 100%;
  height: 100%;
  background: red;
  overflow: hidden;
}

.zxq-hslfyy .zxq-left {
  width: 45%;
  height: auto;
  float: left;
  position: relative;
  background: blue;
}

.zxq-hslfyy .zxq-left .zxq-img1 {
  width: 42%;
  margin-top: 7.8%;
  margin-left: 22%;
  z-index: 1;
}

.zxq-hslfyy .zxq-left .zxq-img2 {
  width: 42%;
  z-index: 2;
  margin-top: -45%;
  margin-left: 48.5%;
}

.zxq-hslfyy .zxq-right {
  width: 55%;
  background: palegreen;
  height: 100%;
  float: left;
}

.zxq-hslfyy .zxq-right h3 {
  width: 93.76%;
  height: 21.66%;
  margin-top: 8%;
  color: #ead7d1;
  font-size: 48px;
  margin-left: 5.5%;
  margin-bottom: 0;
  background: purple;
}

.zxq-hslfyy .zxq-right p {
  width: 50%;
  height: 38.22%;
  line-height: 24px;
  font-size: 12px;
  color: #727171;
  margin-bottom: 0;
  margin-top: 5%;
  margin-bottom: 6%;
  margin-left: 5.5%;
  background: palevioletred;
}

.zxq-hslfyy .zxq-right .zxq-xiaotu {
  width: 100%;
  height: 35.83%;
  margin-left: 5.5%;
}

.zxq-hslfyy .zxq-right .zxq-xiaotu img {
  width: 10%;
  height: 10%;
  margin-right: 56px;
}
